@font-face {
    font-family: space-grotesk;
    src: url("space-gotresk.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Color Variables */
:root {
    --primary-color: #1e50bd;
    --secondary-color: #f55a58;
    --accent-color: #8c96ac;
    --text-color: #ffffff;
    --valid: #6a976b;
}

/* Typography */
h1 {
    color: var(--primary-color);
    font-family: 'space-grotesk', serif;
    font-size: 3rem;
}

h2 {
    color: var(--secondary-color);
}

/* Layout */
#sign-up-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    background: url("bg.jpeg") no-repeat center / cover;
}

section {
    display: flex;
    flex-direction: column;
    flex: 3 1 auto;
    align-items: start;
    justify-content: center;
    background: #f1f0fc;
}

main {
    box-shadow: 2px 5px 5px #ff8383;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background: white;
    width: 100%;
}

/* Form Styles */
#form-header, ul {
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    max-width: 600px;
}

form{
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.input-field {
    float: left;
    margin-right: 4rem;
}

input{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
}

input:user-invalid{
    border-color: var(--secondary-color);
}


input:user-valid {
    border-color: var(--valid);
}

input:placeholder-shown{
    border-color: #ccc;
}

input:focus {
    border-color: #1e50bd;
    outline: none;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 2px 5px 5px #ff8383;
    float: left;
    margin-right: 4rem;
}

/* Other Styles */
#aside-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo {
    width: 100px;
    height: 100px;
}

label {
    display: block;
}

#log-in-text {
    color: var(--accent-color);
    margin-top: 1rem;
    margin-left: 3rem;
}

a {
    color: var(--secondary-color);
    font-size: 1rem;
}